{% extends 'blog/base.html' %}

{% block content %}

	<div class="container" style="width: 40%; padding: 10px 30px 20px 30px">
    <div class="center-signin">
    	<div>
    		<h4 style ="text-align: center;"><b>Sign in to get started!</b></h4><br>
	    </div>

	    <form style="padding-top:10px;" method="post" action="{% url 'login' %}">
    		{% csrf_token %}
    		<input type="hidden" name="next" value="" />
    		{{ form.as_p }}
    	</form>

    	<div class="right-align">
      		<a href="{% url 'sign_up' %}" style="float: left; margin-top: 10px" >
        	<u>No accounts?</u></a>
      		<button type="submit" id="loginbtn" class="waves-effect waves-light btn" >Sign In</button>
    	</div>



    </div>
	</div>
<!--
	<form method="post" action="{% url 'login' %}">
  		{% csrf_token %}
  		<input type="hidden" name="next" value="" />
  		{{ form.as_p }}
  		<button class="waves-effect waves-light btn" type="submit">로그인</button>
  		<a class="waves-effect waves-light btn" href="{% url 'sign_up' %}">No accounts?</a>
  	</form>-->
{% endblock %}