{% load static %}
<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>


    <body>
        <!--
        <div class = 'page-header'>ddd
            <h1><a href="{% url 'post_list' %}">KinamSalad's suffer</a></h1>
        </div>-->
        <div class="navbar">
            <nav class="navColor">
                <div class="nav-wrapper">
                    <a href="{% url 'post_list' %}" class="brand-logo" style="margin-left:2%;">
                    Eventences!
                    </a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">All Events</a></li>
                        <li><a href="">Opinion</a></li>
                        <li><a href="">About ESC</a></li>
                    </ul>

                </div>
            </nav>
        </div>
        <br>

        {% block content %}
        {% endblock %}


    </body>
</html>

<style>
    .navColor {
      background-color: #ec6f75 !important;
    }
    .center-div {
    max-width: 60%;
        margin: 0 auto;
    }
  .center-chip {
    text-align: center;
  }


  .chipColor{
    background-color:#26a69a; 
    color:#ffffff;
  }

</style>