{% extends 'blog/base.html' %}

{% block content %}

<br>
<div> 
	<div class="container" >
		<div class="z-depth-1" style = "background-color: #ffffff;padding-bottom: 2%;">
		<div class = "row">
			<div class = "col s12 " style = "margin-bottom: 3%;">
				<h4 class = "headText">
					<b>HOW TO USE <span style = "color: #ec6f75;">EVENTENCES!</span></b>
					<br>
					<b style= "font-size: 19px;"> Make your Eventences & check your Campus Event </b>
				</h4>
				<div class="slider">
    				<ul class="slides">
				    	<li>
							<img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
				        	<div class="caption center-align">
				          		<h3>This is our big Tagline!</h3>
				          		<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				        	</div>
				     	</li>
				    </ul>
				    <ul class="slides">
				    	<li>
							<img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
				        	<div class="caption center-align">
				          		<h3>This is our big Tagline!</h3>
				          		<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				        	</div>
				     	</li>
				    </ul>
			 	</div>
			</div>
		</div>
		</div>
	</div>
</div>
<br>

<script type="text/javascript">
	$(document).ready(function(){
      $('.slider').slider();
    });
</script>

{% endblock %}