{% extends 'blog/base.html' %}

{% block content %}

<br>
<div> 
	<div class="container" >
		<div class="z-depth-1" style = "background-color: #ffffff;padding-bottom: 2%;">
		<div class = "row">
			<div class = "col s12 " style = "margin-bottom: 3%;">
				<h4 class = "headText">
					<b>HOW TO USE <span style = "color: #ec6f75;">EVENTENCES!</span></b>
					<br>
					<b style= "font-size: 19px;"> Make your Eventences & check your Campus Event </b>
				</h4>
				<br>
				<div class="slider">
    				<ul class="slides">
    					<li>
							<img src="../static/images/help_signin.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Sign Up & Sign In EVENTENCES!</h5>
				          		<h6>You can join with our services!</h6>
				        	</div>
				     	</li>
				    	<li>
							<img src="../static/images/help_list.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Check The Campus Events!</h5>
				          		<h6>You can check the list of campus events.</h6>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_refresh.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Check Another Sentences!</h5>
				          		<h6>You can check another questions through "Refresh" button.</h6>
				        	</div>
				     	</li>
				     	
				     	<li>
							<img src="../static/images/help_info.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Check Basic Information!</h5>
				          		<h6>You can know about basic information of event!</h6>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_likes.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Click The Like Button!</h5>
				          		<h6>You can push the "LIKES" button and <br> also check what major & grade like the most</h6>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_yes.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>If yes, Click YES!</h5>
				          		<h6>If answer of questions is you, <br> Click the "Yes" button and check the keyword map.</h6>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_detail.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>If You Are Interested In Event,</h5>
				          		<h6>You can push the "I WAS INTERESTED ABOUT THIS EVENT!" button <br> and go to detail page</h6>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_send.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Make Eventences!</h5>
				          		<h6>You can make your eventences!(event sentences) and send it! </h6>
				        	</div>
				     	</li>
				     	 <li>
							<img src="../static/images/help_result.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Check The Result!</h5>
				          		<h6>You can check the result of keyword map :) </h6>
				        	</div>
				     	</li>
				    	<li>
							<img src="../static/images/help_opinion.jpg">
				        	<div class="caption center-align" style="background-color: rgba( 0, 0, 0, 0.7 ); padding-bottom:2%;">
				          		<h5>Send Your Opinions!</h5>
				          		<h6>Please, Give your opinions for EVENTENCES.</h6>
				        	</div>
				     	</li>
				     	
			     	</ul>
			 	</div>
			</div>
		</div>
		</div>
	</div>
</div>
<br>

<script type="text/javascript">
	$(document).ready(function(){
      $('.slider').slider();
    });
</script>

{% endblock %}