{% extends 'blog/base.html' %}

{% block content %}

<br>
<div> 
	<div class="container" >
		<div class="z-depth-1" style = "background-color: #ffffff;padding-bottom: 2%;">
		<div class = "row">
			<div class = "col s12 " style = "margin-bottom: 3%;">
				<h4 class = "headText">
					<b>HOW TO USE <span style = "color: #ec6f75;">EVENTENCES!</span></b>
					<br>
					<b style= "font-size: 19px;"> Make your Eventences & check your Campus Event </b>
				</h4>
				<div class="slider">
    				<ul class="slides">
				    	<li>
							<img src="../static/images/help_list.jpg"> <!-- random image -->
				        	<div class="caption center-align">
				          		<h3>Check The Campus Events!</h3>
				          		<h5 class="light grey-text text-lighten-3">you can check the list of campus events.</h5>
				        	</div>
				     	</li>
				    	<li>
							<img src="../static/images/help_opinion.jpg"> <!-- random image -->
				        	<div class="caption center-align">
				          		<h3>Send Your Opinions!</h3>
				          		<h5 class="light grey-text text-lighten-3">Please, Give your opinions for EVENTENCES.</h5>
				        	</div>
				     	</li>
				     	<li>
							<img src="../static/images/help_refresh.jpg"> <!-- random image -->
				        	<div class="caption center-align">
				          		<h3>Check Another Questions!</h3>
				          		<h5 class="light grey-text text-lighten-3">You can check another questions through "Refresh" button.</h5>
				        	</div>
				     	</li>
			     	</ul>
			 	</div>
			</div>
		</div>
		</div>
	</div>
</div>
<br>

<script type="text/javascript">
	$(document).ready(function(){
      $('.slider').slider();
    });
</script>

{% endblock %}