{% extends 'blog/base.html' %}

{% block content %}
	<br>
	<div>
	<div class = "container" style = "max-width: 50%;">
	<div class="z-depth-1" style = "background-color: #ffffff; padding-right: 40px; padding-left:40px;">
	<br>
	<br>
    <div>
    	<h4 class = "headText" style = "margin-top:2%; margin-bottom: 3%;text-align: center;">
    		<i class="material-icons" style="font-size:30px;">event_available</i>
    		<b>Share Campus Event!</b>
    	</h4>
    </div>

    <blockquote>
    	<b>Please Write about Event!</b>
    </blockquote>

    <form method="POST" class="post-form">{% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="row" style = "max-width: 80%; margin-left: auto;margin-right: auto;">
        	<div class="input-field col s12">
        		<input id="title" name = "title" type="text" class="validate">
        		<label for="text" data-error="wrong" data-success="right">Event Title</label>
        	</div>
        </div>

        <div class="row" style = "margin-left:10%;">
        	<div class="input-field col s12" style = "max-width: 85%;">
        		<i class="material-icons prefix">event</i>
        		<input type="text" name = "time" class="datepicker">
        	</div>
        </div>

        <div class="row" style = "margin-left:10%;">
        	<div class="input-field col s12" style = "max-width: 85%;">
        		<i class="material-icons prefix">location_on</i>
        		<input type="text" name = "place">
        	</div>
        </div>

        <div class="right-align">
        	<button type="submit" class="waves-effect waves-light btn">Submit</button>
    	</div>
    </form>

    <br>
    <br>
	</div>
	</div>
	</div>
	<br>
    <br>

    <script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false, // Close upon selecting a date,
    container: undefined, // ex. 'body' will append picker to body
  });
    </script>

<!--
    <div>
    	<div class="container" style = "max-width: 50%;">
    		<div class="z-depth-1" style = "background-color: #ffffff;">
    			<div>
    				<h4 class = "headText">
    					<i class="material-icons" style="font-size:30px;">event_available</i>
    					<b>Share Campus Event!</b>
    				</h4>
    			</div>

    			<div>
    				<blockquote>
      					<b>Please Write about Event!</b>
    				</blockquote>
  
    				<div class="row">
	    				<form class="col s12">
	    
	    					<div class="row" style = "max-width: 80%; margin-left: auto;margin-right: auto;">
						        <div class="input-field col s12">
						          <input id="title" type="text" class="validate">
						          <label for="text" data-error="wrong" data-success="right">Event Title</label>
						        </div>
						    </div>

				
		      				<div class="row" style = "margin-left:10%;">
			    				<div class="input-field col s6" style = "max-width: 43%;">
				    				<i class="material-icons prefix">event</i>
				    				<input type="text" class="datepicker">
				    			</div>

				    			<div class="input-field col s6" style = "max-width: 43%; ">
				    				<i class="material-icons prefix">access_time</i>
				    				<input type="text" class="timepicker">
				    			</div>
			    			</div>

		
			    			<div class="row" style = "margin-left:10%;">
			    				<div class="input-field col s12" style = "max-width: 85%;">
				    				<i class="material-icons prefix">location_on</i>
				    				<input type="text" class="datepicker">
				    			</div>
			    			</div>
		    			</form>
		    			<br>
		    			<br>
	    			</div>

	
	    			<div class="right-align" style="margin-right: 10%;">
	    				<button type="submit" class="waves-effect waves-light btn">Submit</button>
	    			</div>

	    			<br>
	    			<br>


    			</div>

    		</div>
    	</div>
    </div>
    <br>
    <br>
-->

{% endblock %}
