<!DOCTYPE html>

<head>
  <title>ESC TEST [SIGN IN]</title>
  <meta charset="utf-8">
</head>

  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" >

  <body style="background-color: #f4f5f9">
      <div class="container" style="width: 40%; padding: 40px 30px 20px 30px">
        <div style="center-div">
        <div>
          <a href="sign-up.html">
              <img src="Images/logo.png" width = "40%" style="display:block; margin-left: auto; margin-right: auto; padding-bottom: 10px;">
          </a>
          <h4 style ="text-align: center; margin-bottom: 5%;"><b>Create your account to join!</b></h4>
        </div>

        <form onSubmit="return false;">
          <div class="input-field">
            <input type="text" placeholder="Create Your ID" name="email" id="email" required>
            <label><b>Create ID</b></label>
          </div>
          <div class="input-field">
            <input type="password" placeholder="Create a password that is 6 characters or more" name="psw" id="password" required>
            <label><b>Create Password</b></label>
          </div>
        </form>


        <form id="Admission Year" onSubmit="return false;">
          <div class="input-field">
            <input name="year" type="number" id="year" placeholder="2014" />
            <label><b>Admission Year : </b></label>
          </div>
        </form>

        <form id="Grade" onSubmit="return false;" style="margin-bottom: 5%">
              <label><b>Grade : </b></label>
              <br>
              <input name="grade_group" type="radio" id="Undergrade(Junior)" checked="true" value="Undergrade(Junior)" />
              <label for="Undergrade(Junior)" style="padding-right:5%;">Undergrade(Junior)</label>
              <input name="grade_group" type="radio" id="Undergrade(Senior)" value="Undergrade(Senior)" />
              <label for="Undergrade(Senior)">Undergrade(Senior)</label>
              <br>
              <input name="grade_group" type="radio" id="MS" value="MS" />
              <label for="MS" style="padding-right:10%;" >MS</label>
              <input name="grade_group" type="radio" id="PhD" value="PhD" />
              <label for="PhD" style="padding-right:10%;">Ph.D</label>
              <input name="grade_group" type="radio" id="other_g" value="Other" />
              <label for="other_g">Other</label>
        </form>

        

        <!--
        <form id="occupations" onSubmit="return false;">
          <label><b>OCCUPATION : </b></label>
          <input name="occupation_group" type="radio" id="undergrad" checked="true" value="Undergrad" />
          <label for="undergrad">Undergrad</label>
          <input name="occupation_group" type="radio" id="grad" value="Graduate" />
          <label for="grad">Grad</label>
          <input name="occupation_group" type="radio" id="prof" value="Professor" />
          <label for="prof">Prof</label>
          <input name="occupation_group" type="radio" id="worker" value="Worker" />
          <label for="worker">Staff</label>
          <input name="occupation_group" type="radio" id="other_occ" value="Other" />
          <label for="other_occ">Other</label>
        </form>
        <br>
        <form id="avatars" onSubmit="return false;">
          <label><b>PICK YOUR AVATAR : </b></label><br><br>

          <input name="avatar_group" type="radio" id="anglerfish" checked="true" value="anglerfish" />
          <label for="anglerfish"><img src="avatar/0avatar_cur.png" width= "50" height = "50" alt="anglerfish" style="margin-right: 20px; margin-left: -10px"></label>

          <input name="avatar_group" type="radio" id="crab" checked="true" value="crab" />
          <label for="crab"><img src="avatar/1avatar_cur.png" width= "50" height = "50" alt="crab" style="margin-right: 20px; margin-left: -10px"></label>

          <input name="avatar_group" type="radio" id="squid" checked="true" value="squid" />
          <label for="squid"><img src="avatar/2avatar_cur.png" width= "50" height = "50" alt="squid" style="margin-right: 20px; margin-left: -10px"></label>

          <input name="avatar_group" type="radio" id="starfish" checked="true" value="starfish" />
          <label for="starfish"><img src="avatar/3avatar_cur.png" width= "50" height = "50" alt="starfish" style="margin-right: 20px; margin-left: -10px"></label>

          <input name="avatar_group" type="radio" id="whale" checked="true" value="whale" />
          <label for="whale"><img src="avatar/4avatar_cur.png" width= "50" height = "50" alt="whale" style="margin-right: 20px; margin-left: -10px"></label>

        </form>
        -->
        <br>
        <br>

        <div class="right-align">
          <a href="sign-in.html" style="float: left; margin-top: 10px" ><u>Already have an account?</u></a>
          <button type="submit" id="registerbtn" class="btn" >Create Account!</button>
        </div>
    </div>
  </div>
  <br>
  <br>

    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-database.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="signup_script.js"></script>
</body>

<style>
  .center-div {
    position:absolute;
    max-width:40%; max-height:50%;
    width:auto; height:auto;
    margin:auto;
    top:5%; bottom:0; left:0; right:0;
  }
</style>
