{% extends 'blog/base.html' %}

{% block content %}

<div class="container" style="width: 40%; padding: 0px 30px 20px 30px">
<h3 style = "text-align:center;"><b>Sign up</b></h3>
<form method="post">
	{% csrf_token %}

<p><label for="id_username">UserName:</label>
	<input id="id_username" type="text" name="username" maxlength="100" /></p>

<p><label for="id_email">Email:</label>
    <input id="id_email" type="text" name="email" /></p>

<p><label for="id_password1">Password:</label>
    <input id="id_password1" type="password" name="password1" /></p>
<b><label>* Password should be more than 8 characters.</label></b>
<br>
<b><label>* Your password can't be entirely numeric.</label></b>

<p><label for="id_password2">Password Confirmation:</label>
    <input id="id_password2" type="password" name="password2" /></p> 

<p><label for="id_grade">Grade:</label></p>
    <p><label>
        <input name="grade" type="radio" value="Junior" />
        <span>Junior(1~2 Grade)</span>
    </label></p>
    
    <p><label>
        <input name="grade" type="radio" value ="Senior" />
        <span>Senior(3~4 Grade)</span>
    </label></p>
    
    <p><label>
        <input name="grade" type="radio" value ="Ms" />
        <span>MS Course</span>
    </label></p>
    
    <p><label>
        <input name="grade" type="radio" value ="PhD" />
        <span>PhD Course</span>
    </label></p>

<div class="divider"></div>
<p><label for="id_major">Major:</label></p>
	<label>
    	<input name="major" type="radio" value = "CE "/>
    	<span>CE</span>
    </label>
    &nbsp;&nbsp;
    <label>
        <input name="major" type="radio" value = "MS "/>
        <span>MS</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "ME "/>
    	<span>ME</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "PH "/>
    	<span>PH</span>
    </label>
    <br/>

    <label>
        <input name="major" type="radio" value = "AE "/>
        <span>AE</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "IE "/>
    	<span>IE</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "ID "/>
    	<span>ID</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "BS "/>
    	<span>BS</span>
    </label>
    <br/>


    <label>
        <input name="major" type="radio" value = "CH "/>
        <span>CH</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "EE "/>
    	<span>EE</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "CS "/>
    	<span>CS</span>
    </label>
    &nbsp;&nbsp;
    <label>
        <input name="major" type="radio" value = "BIS"/>
        <span>BIS</span>
    </label>
    <br/>


    <label>
        <input name="major" type="radio" value = "MAS"/>
        <span>MAS</span>
    </label>
    &nbsp;&nbsp;
    <label>
    	<input name="major" type="radio" value = "CBE"/>
    	<span>CBE</span>
    </label>
    &nbsp;&nbsp;
    <label>
        <input name="major" type="radio" value = "MSB"/>
        <span>MSB</span>
    </label>
    &nbsp;&nbsp;
    <label>
        <input name="major" type="radio" value = "ETC"/>
        <span>ETC</span>
    </label>
    <br/>
    
<div class="divider"></div>

<p>
<button class="waves-effect waves-light btn" type="submit">Sign up</button>
</p>
</form>
</div>

{% endblock %}